* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  /* background-image: url(/images/2030bbf6-3931-4619-9330-2430c36eb801.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; */
  position: relative;

  font-family: sans-serif;
  min-width: 567px;
}
h2{
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  padding: 20px 0;
}
section{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.tire {
  margin: auto;
  display: block;
  position: relative;
  width: fit-content;
}

.tire img {
  /* height: 100vh; */
  max-width: 600px;
}

.inputs {
  background-color: white;
  padding: 7px;
  max-width: 127px;
  border: 0px solid orange;
  border-radius: 2px;
  position: absolute;
}

.inputs label {
  width: auto;
  display: block;
  text-align: center;
}

.inputs input {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

#p1 {
  left: 39%;
  top: 3%;
}

#p2 {
  left: 7%;
  top: 15%;
}

#p3 {
  left: 1%;
  top: 41%;
}

#p4 {
  left: 7%;
  top: 67%;
}

#p5 {
  left: 39%;
  top: 77%;
}

#p6 {
  right: 7%;
  top: 67%;
}

#p7 {
  right: 1%;
  top: 41%;
}

#p8 {
  right: 7%;
  top: 15%;
}

.output {
  /* width: 100%; */
  display: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.output>div {
  width: 100%;
}

.groups {
  max-width: 200px;
  margin: auto;
  display: block;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  color: white;
}
.groups b{
  display: none;
}
#groupA{
right: 30%;
top: 25%;
}
#groupB{
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}
#groupC{
left: 30%;
top: 25%;
}
#groupD{
left: 30%;
bottom: 33%;
}
#groupE{
left: 50%;
bottom: 25%;
transform: translateX(-50%);
}
#groupF{
right: 30%;
bottom: 33%;
}
@media screen and (max-width: 767px) {
  section {
    flex-direction: column;
  }

  .tire img {
    max-width: unset;
    width: 100%;
  }

  .output {
    padding: 20px 0;
  }
}
